# Python
__pycache__/
*.py[co]
.venv/
env/
venv/
.python-version

# IDEs
.idea/
.vscode/

# Environment variables
.env
.env.local

# FastAPI/Uvicorn
app/main.py
app/security/
app/static/
app/templates/

# Vercel/Netlify deployment
.vercel/
.netlify/

# OS-specific
.DS_Store
Thumbs.db